@mixin hoverable {
    color: var(--app-inactive-font-color);

    &:hover {
        background-color: var(--app-action-color);
    }
}

@mixin activateable {
    &.active {
        color: var(--app-font-color);
        background-color: var(--app-active-color);
    }
}

@mixin transition {
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}