:root {
    --app-background-color: #fff;
    --app-font-color: #222;
    --app-inactive-font-color: #444;

    --app-active-color: #e7e7e7;
    --app-action-color: #d7d7d7;
}

[theme="dark"] {
    --app-background-color: #111;
    --app-font-color: #eee;
    --app-inactive-font-color: #888;

    --app-active-color: #2c2c2c;
    --app-action-color: #3c3c3c;
}


* {
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}